.vscode
__pycache__
.ipynb_checkpoints

env
KIN1D2D
archive

*.png
*.jpg
*.pylog
*.clog
*.circuit
*_OUTPUT.hdf5
*.pdf
*.eps
*.tex

python3


tools/QSVT-angles/inversion/estimated-angles/est_mi_k5e5_*
tools/QSVT-angles/inversion/estimated-angles/est_mi_k1e6_*
tools/QSVT-angles/inversion/estimated-angles/est_mi_k5e6_*
tools/QSVT-angles/inversion/estimated-angles/est_mi_k1e7_*

